*{
    box-sizing: border-box;
    background-color: #FBEBEF;

  }

  body {
    font-family: 'PT Sans Narrow', sans-serif;
  }

  .main {
    margin-top: 50px;
    max-width: 250px;
    margin: auto;
    text-align: center;
    line-height: 1.3;
    font-weight: bold;
  }

  .content {
    box-sizing: border-box;
    border: 3px solid black;
    margin-bottom: 10px;
  }


  img {
      max-width: 245px;

  }


  h2 {
      text-align: center;
  }

  p {
      text-align: inherit;
  }

  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }

  @media (min-width:700px) {
    
    .main {
        margin-top: 50px;
        max-width: 500px;
        margin: auto;
        text-align: center;
        padding: 50px 50px;
  }

    p {
        text-align: center;
        font-size: larger;
        font-weight: bold;
}

  @media (min-width: 1024px) {

    .main {
        margin-top: 50px;
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 50px 50px;
      }

    p {
        text-align: center;
        font-size: x-large;
        font-weight: bold;
    }

    img {
        width: 400px;     
    }

    img.quiz {
        max-width: 1000px;
    }

  }
}